
    <main class="main-content">
        <h1 class="main-title">添加硬币</h1>
        <div class="news-post">

            <section class="container-config">
                <div class="box-user-forms">
                    <span>输入登录名和金额：</span>
                    {if="$result != false"}
                        {if="$result[1] == 'success'"}
                            <p class="user-forms-response success-create">{$result[0]}</p>
                        {else}
                            <p class="user-forms-response failed-create">{$result[0]}</p>
                        {/if}
                    {/if}
                    <form action="/admin/coins" method="POST" class="user-forms">
                        <input type="text" id="coins-username" name="coins-username" placeholder="Login/Username" autocomplete="off" required pattern="[a-zA-Z][A-Za-z0-9]{4,16}">
                        <br>
                        <input type="number" id="coins-amount" name="coins-amount" placeholder="金额" autocomplete="off" pattern="[0-9]{1,16}">
                        <a class="tip" tabindex="-1">?<span>- 如果传递一个带有负号“-”的值，硬币将被移除。<br>例如: -10000</span>
                    </a>

                        <input type="hidden" name="__token" value="{$csrf_token}">
                        <button onclick="return confirm('想要为用户添加硬币?')">添加</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
