
    <main class="main-content">
        <h1 class="main-title">更改密码</h1>
        <div class="news-post">
            <section class="container-config">
                <div class="box-user-forms">
                    <span>填写以更改密码:</span>
                    {if="$result != ''"}
                        {if="$result[1] == 'success'"}
                            <p class="user-forms-response success-create">{$result[0]}</p>
                        {else}
                            <p class="user-forms-response failed-create">{$result[0]}</p>
                        {/if}
                    {/if}
                    <form action="/my-account/change-password" method="POST" class="user-forms">
                        <input type="password" id="senhaAtual" name="senhaAtual" placeholder="当前密码" autocomplete="off" required ><br>
                        <input type="password" id="novaSenha" name="novaSenha" placeholder="新密码" autocomplete="off" required >
                        <input type="password" id="re-novaSenha" name="re-novaSenha" placeholder="重复新密码" autocomplete="off" required ><br>
                        <input type="hidden" name="__token" value="{$csrf_token}">
                        <div class="g-recaptcha captcha-register" data-sitekey="{#PUBLIC_KEY#}" data-theme="dark"></div>

                        <button onclick="return confirm('修改密码?')">修改密码</button>
                    </form>
                </div>

            </section>
        </div>
    </main>
