
    <main class="main-content">
        <h1 class="main-title">编辑文章</h1>
        <div class="news-post">

            <section class="container-config">
                <div class="box-user-forms">
                    <!-- <span>Digite o login para banir/desbanir:</span> -->
                    <br>
                    <form action="/admin/posts/editpost/{$post.id}" method="POST" class="site-posts">
                        <input type="text" name="postTitle" id="postTitle" placeholder="标题" autocomplete="off" value="{$post.title}">
                        <br>
                        <input type="text" name="postCategory" id="postCategory" placeholder="类别（不含活动" value="{$post.category}">
                        <br>
                        <textarea name="textEditor" id="textEditor">{$post.content}</textarea>
                        <input type="hidden" name="__token" value="{$csrf_token}">
                        <input type="hidden" name="id" value="{$post.id}">
                        <button onclick="return confirm('想要保存更改?')">保存</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
