<footer class="footer-container">
        <div class="footer-content">
            <div class="box-footer">
                <h1 class="home-content-title">统计数字</h1>
                <ul class="statistics">
                    <li><span>在线玩家:</span> <hr> {function="number_format($playersOnlineNow)"}</li>
                    <li><span>在线玩家(24h):</span> <hr> {function="number_format($playersOnlineIn24h)"}</li>
                    <br>
                    <li><span>创建的帐户:</span> <hr> {function="number_format($totalAccount)"}</li>
                    <li><span>创建的角色:</span> <hr> {function="number_format($totalCharacters)"}</li>
                    <li><span>创建的帮会:</span> <hr> {function="number_format($totalGuilds)"}</li>
                </ul>
            </div>
            <div class="box-footer">
                <h1 class="home-content-title">从左到上</h1>
                <div class="links-content">
                    <ul class="links-footer">
                        <li><a href="/post/2">使用条款</a></li>
                        <li><a href="/post/3">隐私政策</a></li>
                        <li><a href="#">支持</a></li>
                        <li><a href="/post/4">与我们合作</a></li>
                    </ul>
                    <ul class="social-links">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-discord"></i></a></li>
                        <li><a href=""><i class="fab fa-twitch"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                    </ul>

                    <a href="https://levmud.com/" class="levmud"><img src="/template/default/images/levmud.png" alt=""></a>
                </div>
            </div>
        </div>
        <span class="copyright">{$textCopyright}</span>
    </footer>
    <script src="/template/default/scripts/ckeditor/ckeditor.js"></script>
    <script src="/template/default/scripts/scripts.js"></script>

</body>
</html>
