    <main class="main-content">
        <h1 class="main-title">登陆</h1>
        <article class="news-post">
            <div class="modal-login form-content" >
                {if="$result != ''"}
                {if="$result[1] == 'success'"}
                        <p class="user-forms-response success-create">{$result[0]}</p>
                    {else}
                        <p class="user-forms-response failed-create">{$result[0]}</p>
                    {/if}
                {/if}
                <form name="loginForm" action="/login" method="POST">
                    <input class="form-data" type="text" id="login" name="login" placeholder="用户名" autocomplete="off" required ><br>
                    <input class="form-data" type="password" id="password" name="password" placeholder="密码" required ><br>
                    <input type="hidden" name="token" value="{$csrf_token}">
                    <a class="recover-pass" href="/forgot-password">忘记密码?</a>
                    <div class="g-recaptcha captcha-register" data-sitekey="{#PUBLIC_KEY#}" data-theme="dark"></div>
                    <button id="btn-send-form-login"></button>
                </form>
            </div>
        </article>
    </main>
