
    <main class="main-content">
        <h1 class="main-title">调试角色</h1>
        <div class="news-post">

            <section class="container-config">
                <div class="box-user-forms">
                    <span>选择角色:</span>
                    {if="$result != false"}
                        {if="$result[1] == 'success'"}
                            <p class="user-forms-response success-create">{$result[0]}</p>
                        {else}
                            <p class="user-forms-response failed-create">{$result[0]}</p>
                        {/if}
                    {/if}

                    {if="$characters == false"}
                        <p class="user-forms-response failed-create">您需要先创建角色.</p>
                    {else}
                    <table class="ch-table">
                        <tr>
                            <th>性格</th>
                            <th>数量</th>
                            <th></th>
                        </tr>
                        {loop="$characters"}
                        <tr>
                            <td>{$value.name}</td>
                            <td>{$value.level}</td>
                            <td><a href="/my-account/unbug-char/{$value.id}" onclick="return confirm('Deseja desbugar o personagem?')">卸载</a></td>
                        </tr>
                        {/loop}
                    {/if}
                    </table><br>
                    {if="$characters == false"}

                    {else}
                    <span class="ch-warning">若要调试角色，您需要注销的次数超过 <strong>5 Minutos.</strong></span><br>
                    <span class="ch-warning">该角色将被带到账户主城地图1中。</span>
                    {/if}
                </div>
            </section>
        </div>
    </main>
